
.container {
    display: grid;
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 1fr 1fr;
    
}

.top {
   grid-column: 1 / span 2;
   grid-row: 1/ 2;
   background-color: green;
}

.leftMiddle {
    grid-column: 1/2;
    grid-row: 2/3;
   background-color: blue;
   

  
}
.rightMiddle {
    grid-column: 2/3;
    grid-row: 2/3;
   background-color: yellow;

  
}
.footer {
  grid-column: 1/3;
  grid-row: 3/4;
  background-color: yellowgreen;

}
